.thumbnail > img{
	width:200px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

tr.#sortable td.placeholder {
  position: relative;
}
tr.#sortable td.placeholder:before {
  position: absolute;
}

.handle {
    cursor: move;
    float: left;
}
.remove{
  float: left;
}
html, body,#wrapper{
	height: 100%;
}

 #page-wrapper{
	min-height:  100%;
}

#carousel-example-generic{
	width: 500px;
	margin: auto;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.file-input{
  min-width: 120%;
  display: table-caption;
}

.ordre{
  width: 40px;
}

#carousel-example-generic, .carousel-inner{
  height: 300px;
}
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}