.thumbnail > img{
	width:200px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

tr.#sortable td.placeholder {
  position: relative;
}
tr.#sortable td.placeholder:before {
  position: absolute;
}

.handle {
    cursor: move;
}

html, body,#wrapper{
	height: 100%;
}

 #page-wrapper{
	min-height:  100%;
}

#carousel-example-generic{
	width: 500px;
	margin: auto;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}